/*
 * This CSS file provides the styles for the web application.
 * It includes layout, typography, color schemes, and responsive design rules.
 * The styles are organized into sections for better readability and maintainability.
 * 
 * Sections:
 * 1. Reset and Base Styles
 * 2. Typography
 * 3. Layout
 * 4. Components
 * 5. Utilities
 * 
 * Author: [Souhayl Taiss]
 * Date: [20-01-2025]
 */

/* 1. Reset and Base Styles */
/* Reset the browser's default styles */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  --primary-color: #fec544;
  --secondary-color: white;
  --tertiary-color: #a9adb8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0a101e;
  color: var(--secondary-color);
  line-height: 0.9;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style-type: none;
}

a {
  font-family: "Roboto", "sens-serif";
  text-decoration: none;
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  margin: 100px auto;
  text-align: center;
}
.title h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  position: relative;
}
.title h2::before {
  content: "";
  width: 173px;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3f3f40;
}
.title h2::after {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}
.title h3 {
  font-size: 90px;
  opacity: 0.1;
  color: #606060;
  text-transform: uppercase;
  transform: translateY(-28px);
}
.active {
  color: var(--primary-color);
}
header {
  background-color: #070d1b;
}
header .container {
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px 15px;
  align-items: center;
  justify-items: end;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

header nav ul a {
  padding-right: 45px;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
}
header nav ul li:hover a {
  color: var(--primary-color);
}
.call {
  padding-left: 45px;
  color: var(--primary-color);
  position: relative;
}

.call::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: var(--secondary-color);
}
.call i {
  color: white;
}

/* Start Hero Section */

.hero-section {
  height: 855px;
  background-color: #070d1b;
  position: relative;
}
.hero-section .container {
  height: 84vh;
}
.hero-section .description {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .description span {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 15px;
  display: block;
}
.hero-section h1 {
  width: 430px;
  font-weight: bold;
  font-size: 120px;
  margin-bottom: 41px;
}
.hero-section p {
  font-size: 36px;
  color: var(--tertiary-color);
  margin-bottom: 41px;
}
.hero-section .cta {
  display: block;
  width: 170px;
  height: 48px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: initial;
  text-align: center;
  line-height: 3;
}

.hero-section .img-container {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.hero-section .img-container img {
  height: 100%;
  object-fit: cover;
}
.hero-section .img-container .social-media {
  background: #101624;
}
.hero-section .img-container .social-media {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 460px;
  position: relative;
  bottom: 121px;
  right: 460px;
  padding: 13px 70px 13px 13px;
  border-radius: 55px 0 0 55px;
  border: 1px solid #3f3f40;
  border-right: none;
}
.hero-section .img-container .social-media a {
  height: 50px;
  width: 50px;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  background-color: #070d1b;
  border-radius: 50px;
  border: 1px solid #3d3d3d;
  transition: 0.4s;
  overflow: hidden;
}
.hero-section .img-container .social-media span:first-child {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #a9adb8;
  display: inline-block;
}
.hero-section .img-container .social-media span:last-child {
  color: white;
}
.hero-section .img-container .social-media a:where(:hover, .active) {
  width: 140px;
}

/* Start about section */
.about .deteals {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  margin-bottom: 100px;
  align-items: center;
}
.about .deteals .image-box {
  width: 510px;
  height: 550px;
}
.about .deteals .image-box img {
  object-fit: cover;
  height: 100%;
}
.about .deteals .description h3 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 22px;
}
.about .deteals .description h4 {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: normal;
  margin-bottom: 22px;
}
.about .deteals .description p {
  color: var(--tertiary-color);
  line-height: 1.4;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
}
.about .deteals .description ul {
  color: var(--tertiary-color);
  margin-bottom: 70px;
}
.about .deteals .description ul li {
  margin-bottom: 22px;
}
.about .deteals .description ul li span:first-child {
  display: inline-block;
  width: 150px;
}
.about .deteals .description ul li span:last-child {
  margin-left: 15px;
}
.about .deteals .description a {
  padding: 14px 38px;
  text-align: center;
  background-color: var(--primary-color);
  color: black;
  border-radius: 25px;
}

/* Start services section */
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px,387px));
  justify-content: space-between;
  margin-bottom: 100px;
}
.services .box-container .box {
  background-color: var(--tertiary-color);
  background-color: #101624;
  border: 1px solid var(--tertiary-color);
  text-align: center;
  padding: 20px;
}
.services .box-container .box .icon-box svg {
  fill: var(--tertiary-color);
  width: 40px;
}
.services .box-container .box h3 {
}
.services .box-container .box p {
  color: var(--tertiary-color);
}
